{% extends "workerpages/worker_header_footer.html" %}
{% load static %}
{% block content %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Available Service Requests</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{% url 'workers_home' %}">Dashboard</a></li>
                            <li class="active">Available Requests</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Available Service Requests</strong>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info">
                            These are service requests that match your skills and are waiting for a worker to accept.
                            The first worker to accept a request will be assigned to it.
                        </div>
                        
                        {% if available_requests %}
                        <table id="bootstrap-data-table" class="table table-responsive-md table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Service</th>
                                    <th>User</th>
                                    <th>Problem Description</th>
                                    <th>Location</th>
                                    <th>Date Requested</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in available_requests %}
                                <tr>
                                    <td>{{ request.service.Name }}</td>
                                    <td>{{ request.user.admin.first_name }}</td>
                                    <td>{{ request.Problem_Description }}</td>
                                    <td>{{ request.Address }}, {{ request.city.name }}</td>
                                    <td>{{ request.dateofrequest|date:"F d, Y" }}</td>
                                    <td>
                                        <a href="{% url 'acceptrequest' action='accept' id=request.id %}" class="btn btn-success btn-sm">Accept</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="alert alert-warning">
                            There are no available service requests matching your skills at this time.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#bootstrap-data-table').DataTable({
            // Add options here
        });
    });
</script>
{% endblock %}